body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hero {
  background-color: #1F2937;
  padding: 10px 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.links {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.container-1 {
  display: flex;
  gap: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a,
.container-1 .text {
  color: #E5E7EB;
  font-size: 18px;
}

li {
  list-style-type: none;
}

.hero .logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 600;
}

.container-1 .title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.container-1 img {
  width: 500px;
}

button {
  background-color: #3882F6;
  border: none;
  border-radius: 14px;
  color: white;
  padding: 4px 30px;
  font-size: 24px;
}
